// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h4{
    color:green;
}

.table_header{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;

    color: green;
 
}
 
   
   